@mixin dashboard-textfield {

  .v-textfield,
  .v-filterselect {
    //@include border-radius(3px);
    //border: 1px solid #c9c8c7;
    border-top: none;
    border-left: none;
    border-right: none;
    border-top-color: none;
    border-left-color: none;
    border-right-color: none;
    border-bottom-color: #AA8808;

    background: transparent;
    //box-shadow: 0 0 0 2px rgba(51,50,49,.07);

    font: inherit;
    color: white;
    line-height: 1;

    margin: 0;
  }

  input.v-widget.v-textfield,
  .v-filterselect {
    padding: .25em .3em;
    color: white;
  }

  .v-webkit & input.v-textfield,
  .v-webkit & .v-filterselect {
    padding-bottom: .3em;
    color: white;
  }

  .v-textfield:focus,
  .v-filterselect-focus {
    outline: none;
    border-color: #AA8808;
  }

  input.v-textfield-prompt,
  .v-filterselect-prompt .v-filterselect-input {
    font-style: normal;
    color: white;
  }

  input.v-widget.v-textfield.small,
  .v-filterselect.small {
    padding: .15em .2em;
    font-size: 12px;
  }


  .v-webkit & input.v-textfield.small,
  .v-webkit & .v-filterselect.small {
    padding-bottom: .2em;
  }

  .v-checkbox {
    color: #AA8808;
  }

  .v-textarea-report {
    border: thin solid #AA8808;
    background: transparent;
    color: white;
    cursor: pointer;
  }

  .v-textarea-report {
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
  }

  .v-textarea-notes {
    border: none;
    background: transparent;
    color: #AA8808;
    cursor: pointer;
  }

  .v-textfield-borderless-large,
  .v-filterselect-borderless-large {
    //@include border-radius(3px);
    //border: 1px solid #c9c8c7;
    border: none;
    font-size: 22px;

    background: transparent;

    font: inherit;
    color: #AA8808;
    line-height: 1;

    margin: 0;
  }
}